ClientWindowsFormsApplication1/Web References/Rozgrywki/Rozgrywki.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listaUzytkownikow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaUzytkownikowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaUzytkownikowResult" type="tns:ArrayOfUzytkownik" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUzytkownik">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Uzytkownik" nillable="true" type="tns:Uzytkownik" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Uzytkownik">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="identyfikatorUzytkownika" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwaUzytkownika" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numerPokoju" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="hand" type="tns:ArrayOfKarta" />
          <s:element minOccurs="0" maxOccurs="1" name="najUklad" type="tns:ArrayOfKarta" />
          <s:element minOccurs="1" maxOccurs="1" name="kicker" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="wart" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwaUkladu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="start" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKarta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Karta" nillable="true" type="tns:Karta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Karta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="figura" type="tns:figuraKarty" />
          <s:element minOccurs="1" maxOccurs="1" name="kolor" type="tns:kolorKarty" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="figuraKarty">
        <s:restriction base="s:string">
          <s:enumeration value="K2" />
          <s:enumeration value="K3" />
          <s:enumeration value="K4" />
          <s:enumeration value="K5" />
          <s:enumeration value="K6" />
          <s:enumeration value="K7" />
          <s:enumeration value="K8" />
          <s:enumeration value="K9" />
          <s:enumeration value="K10" />
          <s:enumeration value="KJ" />
          <s:enumeration value="KD" />
          <s:enumeration value="KK" />
          <s:enumeration value="KA" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="kolorKarty">
        <s:restriction base="s:string">
          <s:enumeration value="pik" />
          <s:enumeration value="kier" />
          <s:enumeration value="karo" />
          <s:enumeration value="trefl" />
        </s:restriction>
      </s:simpleType>
      <s:element name="KtoWygral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KtoWygralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KtoWygralResult" type="tns:ArrayOfUzytkownik" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="naStole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="naStoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="naStoleResult" type="tns:ArrayOfKarta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="genResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="genResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PobierzPokoje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PobierzPokojeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PobierzPokojeResult" type="tns:ArrayOfPokoj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPokoj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pokoj" nillable="true" type="tns:Pokoj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pokoj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nazwaPokoju" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numerPokoju" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="iloscGraczyMax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="iloscGraczyObecna" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="graRozpoczeta" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="stawkaWejsciowa" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="duzyBlind" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="stan" type="tns:Stan" />
          <s:element minOccurs="1" maxOccurs="1" name="ktoBlind" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="stawia" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="obecnaStawka" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="akcje" type="tns:ArrayOfAkcja" />
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:ArrayOfUzytkownik" />
          <s:element minOccurs="0" maxOccurs="1" name="stol" type="tns:ArrayOfKarta" />
          <s:element minOccurs="0" maxOccurs="1" name="ukl" type="tns:UkladyKart" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Stan">
        <s:restriction base="s:string">
          <s:enumeration value="STARTING" />
          <s:enumeration value="PREFLOP" />
          <s:enumeration value="FLOP" />
          <s:enumeration value="TURN" />
          <s:enumeration value="RIVER" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAkcja">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Akcja" nillable="true" type="tns:Akcja" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Akcja">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="identyfikatorGracza" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwaAkcji" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stempelCzasowy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numerStolu" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="kartyGracza" type="tns:ArrayOfKarta" />
          <s:element minOccurs="0" maxOccurs="1" name="kartyNaStole" type="tns:ArrayOfKarta" />
          <s:element minOccurs="1" maxOccurs="1" name="malyBlind" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="duzyBlind" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="obecnaStawkaStolu" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="obecnaStawkaGracza" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="iloscKasyNaStole" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="iloscKasyGracza" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="nastepnyGracz" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UkladyKart" />
      <s:element name="DolaczDoStolu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DolaczDoStoluResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DolaczDoStoluResult" type="tns:Komunikat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Komunikat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="trescKomunikatu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="kodKomunikatu" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="OpuscStol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpuscStolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpuscStolResult" type="tns:Komunikat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UtworzStol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nazwa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxGraczy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stawkaWe" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="bigBlind" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UtworzStolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UtworzStolResult" type="tns:Komunikat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PobierzStanStolu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stempelCzasowy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PobierzStanStoluResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PobierzStanStoluResult" type="tns:ArrayOfAkcja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WyslijRuch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="akcja" type="tns:Akcja" />
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WyslijRuchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WyslijRuchResult" type="tns:Komunikat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Start">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartResult" type="tns:Komunikat" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listaUzytkownikowSoapIn">
    <wsdl:part name="parameters" element="tns:listaUzytkownikow" />
  </wsdl:message>
  <wsdl:message name="listaUzytkownikowSoapOut">
    <wsdl:part name="parameters" element="tns:listaUzytkownikowResponse" />
  </wsdl:message>
  <wsdl:message name="KtoWygralSoapIn">
    <wsdl:part name="parameters" element="tns:KtoWygral" />
  </wsdl:message>
  <wsdl:message name="KtoWygralSoapOut">
    <wsdl:part name="parameters" element="tns:KtoWygralResponse" />
  </wsdl:message>
  <wsdl:message name="naStoleSoapIn">
    <wsdl:part name="parameters" element="tns:naStole" />
  </wsdl:message>
  <wsdl:message name="naStoleSoapOut">
    <wsdl:part name="parameters" element="tns:naStoleResponse" />
  </wsdl:message>
  <wsdl:message name="genSoapIn">
    <wsdl:part name="parameters" element="tns:gen" />
  </wsdl:message>
  <wsdl:message name="genSoapOut">
    <wsdl:part name="parameters" element="tns:genResponse" />
  </wsdl:message>
  <wsdl:message name="PobierzPokojeSoapIn">
    <wsdl:part name="parameters" element="tns:PobierzPokoje" />
  </wsdl:message>
  <wsdl:message name="PobierzPokojeSoapOut">
    <wsdl:part name="parameters" element="tns:PobierzPokojeResponse" />
  </wsdl:message>
  <wsdl:message name="DolaczDoStoluSoapIn">
    <wsdl:part name="parameters" element="tns:DolaczDoStolu" />
  </wsdl:message>
  <wsdl:message name="DolaczDoStoluSoapOut">
    <wsdl:part name="parameters" element="tns:DolaczDoStoluResponse" />
  </wsdl:message>
  <wsdl:message name="OpuscStolSoapIn">
    <wsdl:part name="parameters" element="tns:OpuscStol" />
  </wsdl:message>
  <wsdl:message name="OpuscStolSoapOut">
    <wsdl:part name="parameters" element="tns:OpuscStolResponse" />
  </wsdl:message>
  <wsdl:message name="UtworzStolSoapIn">
    <wsdl:part name="parameters" element="tns:UtworzStol" />
  </wsdl:message>
  <wsdl:message name="UtworzStolSoapOut">
    <wsdl:part name="parameters" element="tns:UtworzStolResponse" />
  </wsdl:message>
  <wsdl:message name="PobierzStanStoluSoapIn">
    <wsdl:part name="parameters" element="tns:PobierzStanStolu" />
  </wsdl:message>
  <wsdl:message name="PobierzStanStoluSoapOut">
    <wsdl:part name="parameters" element="tns:PobierzStanStoluResponse" />
  </wsdl:message>
  <wsdl:message name="WyslijRuchSoapIn">
    <wsdl:part name="parameters" element="tns:WyslijRuch" />
  </wsdl:message>
  <wsdl:message name="WyslijRuchSoapOut">
    <wsdl:part name="parameters" element="tns:WyslijRuchResponse" />
  </wsdl:message>
  <wsdl:message name="StartSoapIn">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="StartSoapOut">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:portType name="RozgrywkiSoap">
    <wsdl:operation name="listaUzytkownikow">
      <wsdl:input message="tns:listaUzytkownikowSoapIn" />
      <wsdl:output message="tns:listaUzytkownikowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KtoWygral">
      <wsdl:input message="tns:KtoWygralSoapIn" />
      <wsdl:output message="tns:KtoWygralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="naStole">
      <wsdl:input message="tns:naStoleSoapIn" />
      <wsdl:output message="tns:naStoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="gen">
      <wsdl:input message="tns:genSoapIn" />
      <wsdl:output message="tns:genSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PobierzPokoje">
      <wsdl:input message="tns:PobierzPokojeSoapIn" />
      <wsdl:output message="tns:PobierzPokojeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DolaczDoStolu">
      <wsdl:input message="tns:DolaczDoStoluSoapIn" />
      <wsdl:output message="tns:DolaczDoStoluSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpuscStol">
      <wsdl:input message="tns:OpuscStolSoapIn" />
      <wsdl:output message="tns:OpuscStolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UtworzStol">
      <wsdl:input message="tns:UtworzStolSoapIn" />
      <wsdl:output message="tns:UtworzStolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PobierzStanStolu">
      <wsdl:input message="tns:PobierzStanStoluSoapIn" />
      <wsdl:output message="tns:PobierzStanStoluSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WyslijRuch">
      <wsdl:input message="tns:WyslijRuchSoapIn" />
      <wsdl:output message="tns:WyslijRuchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input message="tns:StartSoapIn" />
      <wsdl:output message="tns:StartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RozgrywkiSoap" type="tns:RozgrywkiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaUzytkownikow">
      <soap:operation soapAction="http://tempuri.org/listaUzytkownikow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtoWygral">
      <soap:operation soapAction="http://tempuri.org/KtoWygral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="naStole">
      <soap:operation soapAction="http://tempuri.org/naStole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gen">
      <soap:operation soapAction="http://tempuri.org/gen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PobierzPokoje">
      <soap:operation soapAction="http://tempuri.org/PobierzPokoje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DolaczDoStolu">
      <soap:operation soapAction="http://tempuri.org/DolaczDoStolu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpuscStol">
      <soap:operation soapAction="http://tempuri.org/OpuscStol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UtworzStol">
      <soap:operation soapAction="http://tempuri.org/UtworzStol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PobierzStanStolu">
      <soap:operation soapAction="http://tempuri.org/PobierzStanStolu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WyslijRuch">
      <soap:operation soapAction="http://tempuri.org/WyslijRuch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RozgrywkiSoap12" type="tns:RozgrywkiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaUzytkownikow">
      <soap12:operation soapAction="http://tempuri.org/listaUzytkownikow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtoWygral">
      <soap12:operation soapAction="http://tempuri.org/KtoWygral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="naStole">
      <soap12:operation soapAction="http://tempuri.org/naStole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gen">
      <soap12:operation soapAction="http://tempuri.org/gen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PobierzPokoje">
      <soap12:operation soapAction="http://tempuri.org/PobierzPokoje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DolaczDoStolu">
      <soap12:operation soapAction="http://tempuri.org/DolaczDoStolu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpuscStol">
      <soap12:operation soapAction="http://tempuri.org/OpuscStol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UtworzStol">
      <soap12:operation soapAction="http://tempuri.org/UtworzStol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PobierzStanStolu">
      <soap12:operation soapAction="http://tempuri.org/PobierzStanStolu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WyslijRuch">
      <soap12:operation soapAction="http://tempuri.org/WyslijRuch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rozgrywki">
    <wsdl:port name="RozgrywkiSoap" binding="tns:RozgrywkiSoap">
      <soap:address location="http://localhost:51314/Rozgrywki.asmx" />
    </wsdl:port>
    <wsdl:port name="RozgrywkiSoap12" binding="tns:RozgrywkiSoap12">
      <soap12:address location="http://localhost:51314/Rozgrywki.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>